# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
.npm

# Build
dist
build
coverage

# Config files
.eslintrc.js
.prettierrc
README.md
.editorconfig
jest.config.js

# Dev files
*.spec.ts
*.test.ts
test
tests

# Frontend
ufc-ranking-front

# Docker
.dockerignore
Dockerfile*
docker-compose*

# Environment
.env.example 